body {
  color: #797979;
  background-color: #f2f2f2;
  font-family: 'Ruda', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
}

/* header */
header.black-bg {
  background: #ffd777;
  border-bottom: 1px solid #c9aa5f;
  padding: 18px;
}

header .header-menu, header .header-menu-right a {
  display: inline-block;
  /*text-decoration: none;*/
  color: #797979;
}

header i {
  vertical-align: middle;
}
header .header-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}
header .header-menu-right {
  float: right;
  margin-right: 20px;
}
header .header-menu-right a {
  vertical-align: middle;
}
header .header-menu-right i {
  font-size: 28px;
}
header img.user {
  width: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

/* main */
.heading-section {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
main {
  width: 70%;
  margin: auto;
  padding: 3%;
}

main section {
  display: inline-block;
  width: 27%;
  margin: auto;
  background-color: #fefefe;
  padding-bottom: 4%;
  box-shadow: 0 10px 6px -6px #777;
  /*box-shadow: inset 0 0 10px #000000;*/
}

main section .material-icons {
  display: block;
  font-size: 5em;
  text-align: center;
  line-height: 1.5em;
}

main section table {
  border-collapse: collapse;
  text-align: center;
  width: 75%;
  margin: auto;
}

main section table td {
  border-bottom: 1px #797979 solid;
  padding: 0 7px;
}

main section header {
  background-color: #797979;
  color: #fff;
}
